* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Inter', sans-serif;
}

body {
    /* background-color: #f4f4f4; */
    background-color: #a8c9f582;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 5%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.hero {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    gap: 50px; 
    margin-top: 60px;
}

.hero-text {
    flex: 1; 
}

.hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
    color: #222;
}

.hero-text .intro {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #262626;
    max-width: 450px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #840808;
    color: rgba(255, 255, 255, 0.959);
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.2rem;
    transition: transform 0.2s, background-color 0.3s;
}

.icon-circle:hover {
    transform: translateY(-3px); 
    background-color: #1096de; 
}

.hero-image {
    flex: 1; 
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 30px 30px 5px rgba(64, 20, 20, 0.1); 
}

/* Projects Section */
.projects-section {
    padding: 80px 10%;
    background-color: #f6f0f0;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #333;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.project-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;

    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-10px); 
}

.card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-content p {
    color: #363636;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.tech-stack {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.tech-stack span {
    background-color: #ff9595;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
    color: #383636;
    font-weight: 600;
}

.tech-stack span.python {
    background-color: #3776AB;
    color: white;
}

.tech-stack span.java {
    background-color: #007396;
    color: white;
}

.tech-stack span.javascript {
    background-color: #F7DF1E;
    color: black;
}

.tech-stack span.postgresql {
    background-color: #336791;
    color: white;
}

.tech-stack span.react {
    background-color: #61DAFB;
    color: black;
}

.tech-stack span.css {
    background-color: #61DAFB;
    color: black;
}

.tech-stack span.html {
    background-color: #E34F26;
    color: white;
}

.tech-stack span.openfda {
    background-color: #003c7d; 
    color: white;
}

.tech-stack span.commandline {
    background-color: #0D1117; 
    color: #00FF9C;
}

.tech-stack span.research {
    background-color: #4B3F72; 
    color: white;
}

.tech-stack span.streamlit {
    background-color: #FF4B4B; 
    color: white;
}

.tech-stack span.pandas {
    background-color: #150458; 
    color: white;
}

.tech-stack span.yfinance {
    background-color: #6001D2; 
    color: white;
}

.tech-stack span.fintech {
    background-color: #007BFF; 
    color: white;
}

.tech-stack span.data-visualization {
    background-color: #17A2B8; 
    color: white;
}

.tech-stack span.stock-analysis {
    background-color: #28A745; 
    color: white;
}

/* Buttons */
.card-links {
    display: flex;
    gap: 10px;
    margin-top: auto;
}

.btn-small {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 0.9rem;
    transition: background 0.2s;
}

.btn-small:hover {
    background-color: #555;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #333;
    color: #333;
}

.btn-outline:hover {
    background-color: #333;
    color: white;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
        padding: 50px 5%;
    }

    .social-icons {
        justify-content: center;
    }
}